[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "custom/plugins/zsh-completions"]
	path = custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "custom/plugins/zsh-history-substring-search"]
	path = custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
